<!DOCTYPE html>
<html lang="en">

<head>
    <title>Views from Quarantine</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href="../static/img/window symbol.png" />
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <!-- Icons -->
    <link href="../static/css/font-awesome.css" rel="stylesheet" />
    <!-- Theme CSS -->
    <link href="../static/css/argon-design-system.css" rel="stylesheet" />
</head>

<body style="background-color: #172b4d; background-image: url('{{background}}'); background-repeat: no-repeat; background-size: 100%; background-attachment: fixed; background-position: center center;">
    <!-- Top Navbar -->
    <nav class="navbar navbar-expand-lg navbar-transparent bg-default">
        <a class="navbar-brand" href="{{url_for('gallery', id=1)}}">
            <div><b style="font-size: medium;">Views from Quarantine</b></div>
            <b style="font-size: small; margin-bottom: 0;">An Online Exhibition</b>
        </a>
        <ul class="navbar-nav ml-lg-auto">
            <li class="nav-item mt-1 mb-1">
                <a href="{{url_for('artists')}}" class="btn btn-transparent btn-icon">
                    <span class="btn-inner--icon">
                        <i class="fa fa-paint-brush mr-2" style="color: white;"></i>
                    </span>
                    <span class="nav-link-inner--text" style="color: white;">Artist Profiles</span>
                </a>
            </li>
            <li class="nav-item mt-1 mb-1">
                <a href="https://github.com/rardich/MGSA-Painting" target="_blank" class="btn btn-transparent btn-icon">
                    <span class="btn-inner--icon">
                        <i class="fa fa-github mr-2" style="color: white;"></i>
                    </span>
                    <span class="nav-link-inner--text" style="color: white;">Source Code</span>
                </a>
            </li>
        </ul>
    </nav>
    <!-- End Top Navbar -->

    <!-- Gallery Navigation Buttons -->
    {% if page == 1 %}
    <a href="{{url_for('gallery', id=totalpages)}}" class="btn btn-secondary btn-icon"
        style="position:fixed; top:50%; left:1%;">
        <span class="btn-inner--icon">
            <i class="fa fa-arrow-left"></i>
        </span>
    </a>
    <a href="{{url_for('gallery', id=page+1)}}" class="btn btn-secondary btn-icon"
        style="position:fixed; top:50%; right:1%;">
        <span class="btn-inner--icon">
            <i class="fa fa-arrow-right"></i>
        </span>
    </a>
    {% elif page == totalpages %}
    <a href="{{url_for('gallery', id=page-1)}}" class="btn btn-secondary btn-icon"
        style="position:fixed; top:50%; left:1%;">
        <span class="btn-inner--icon">
            <i class="fa fa-arrow-left"></i>
        </span>
    </a>
    <a href="{{url_for('gallery', id=1)}}" class="btn btn-secondary btn-icon"
        style="position:fixed; top:50%; right:1%;">
        <span class="btn-inner--icon">
            <i class="fa fa-arrow-right"></i>
        </span>
    </a>
    {% else %}
    <a href="{{url_for('gallery', id=page-1)}}" class="btn btn-secondary btn-icon"
        style="position:fixed; top:50%; left:1%;">
        <span class="btn-inner--icon">
            <i class="fa fa-arrow-left"></i>
        </span>
    </a>
    <a href="{{url_for('gallery', id=page+1)}}" class="btn btn-secondary btn-icon"
        style="position:fixed; top:50%; right:1%;">
        <span class="btn-inner--icon">
            <i class="fa fa-arrow-right"></i>
        </span>
    </a>
    {% endif %}
    <!-- End Gallery Navigation Buttons -->

    <!-- Transparent Gallery Art Buttons-->
    {% for art in artwork["room" + page|string] %}
    <a href="{{url_for('art', art=art[0])}}"><button
            style="position:absolute; width: {{art[1]}}%; height: {{art[2]}}%; top: {{art[3]}}%; left: {{art[4]}}%;
            background-color: Transparent; background-repeat:no-repeat;border: none;cursor:pointer;overflow: hidden;outline:none;"></button></a>
    {% endfor %}
    <!-- End Transparent Gallery Art Buttons-->

    <!-- Footer Pagination -->
    <div style="position: absolute; left: 50%; bottom: 0%">
        <nav style="position: relative; left: -50%;">
            <ul class="pagination" style="position: relative; justify-content: center;">
                {% for i in range(1,9) %}
                {% if page == i %}
                <li class="page-item active">
                    <a class="page-link" href="{{url_for('gallery', id=i)}}">{{i}}</a>
                </li>
                {% else %}
                <li class="page-item">
                    <a class="page-link" href="{{url_for('gallery', id=i)}}">{{i}}</a>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </nav>
        <div style="text-align: center; position: relative; left: -50%;">
            <div class="alert alert-transparent mt--2">
                <strong>Click on each artwork for more</strong>
            </div>
        </div>
    </div>
    <!-- End Footer Pagination -->
    
    

    <!--   Core JS Files   -->
    <script src="../static/js/core/jquery.min.js" type="text/javascript"></script>
    <script src="../static/js/core/popper.min.js" type="text/javascript"></script>
    <script src="../static/js/core/bootstrap.min.js" type="text/javascript"></script>
    <script src="../static/js/plugins/perfect-scrollbar.jquery.min.js"></script>
    <script type="text/javascript">
        if (screen.width <= 768) {
            window.location.replace("{{url_for('mobile')}}");
        }
    </script>
    <script>
        $('.alert').alert()
    </script>
</body>

</html>